.contentSettings > span{
  text-align:left;
  padding-bottom:10px;
}
dt {
  font-weight: 400 !important;
}
.menuItems button { 
  border: 0 none !important;
  padding-top:10px;
  padding-bottom:10px;
  margin: auto;
}
.menuTitle {
  padding-left:16px;
  font-size:x-large;
  font-weight: bold;
  padding-top:25px;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
  .to-hover:hover > .to-show {
    display: block;
    z-index: 1;
  }
}
.to-show {
  display: none;
  color: #404040;
}
.dropdown-menu {
  position:fixed
}
.settings-list > ul > li {
  height: 10px;
}

.circle-badge {
  position: relative;
  color: #fff;
  background-color: #6264a7;
  border-radius: 50%;
  font-family: "Roboto";
  
  /* Alignment */
  line-height: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  /* Adjust as required: */
  padding: 10px;
}

/* Height = width */
.circle-badge::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}